@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=VT323&display=swap');

body {
    margin: 0;
}

main {
    color: darkcyan;
    font-weight: bold;
    text-align: center;
}
.background-image {
    background-image: url('../pictures/taust.jpg');
      /* Add the blur effect */
    backdrop-filter: blur(8px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-family: 'VT323', monospace;
    font-size: 48px;  
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 35px;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px
}

p {
    font-family: 'Roboto Mono', monospace;
}

li {
    font-family: 'Roboto Mono', monospace;
}

.pilt {
    border-radius: 10%;
    width: auto;
}


.h1-center {
    text-align: center;
}

.image-container {
    display: flex;
    gap: 10px; 
}